.editor {
    height: 500px;
}

.output {
    height: 250px;
    overflow-y: scroll;
    scrollbar-width: thin;
    font: 1.2rem Inconsolata, monospace;
}

.height-100 {
    height: 100%;
}

.errorLog {
    color: red;
}